<!DOCTYPE html>   
<html>
    <head>

    <title>Footbalkik</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/login.css">

    </head>

<body>

    <div class="container logo-container">
        <div class="row">
            <div class="col-md-12">
                    <nav class="navbar" id="nav_bar" role="navigation">

                        <div class="navbar-header">
                            <h1 class="logo-div">
                                <a href="/">Footbalkik</a>
                            </h1>
                        </div>



                     
                            <ul class="nav navbar-nav navbar-right" >
                                <li style="padding-right: 50px;">
                                    <h2 class="reg-div">
                                        <a href="/">
                                            Login
                                        </a>
                                    </h2>

                                </li>


                                <li class="reg_link2" >
                                    <h2 class="reg-div">
                                        <a href="/signup">
                                            | Register
                                        </a>
                                    </h2>
                                </li>
                            </ul>
                        

                    </nav>
                </div>

        </div>
    </div>

<div id="main">
    <div class="main">
        <form action="/signup" method="post">
         
            <h1>
            <a href="/auth/facebook" class="btn-Social btn-facebook btn-ln">
                <i class ="fa fa-facebook" ></i>&nbsp;&nbsp;Signup With Facebook</a>
            </h1>

            <h1>
            <a href="/auth/google" class="btn-Social btn-gplus btn-ln">
                <i class ="fa fa-google-plus" ></i>&nbsp;&nbsp;Signup With Google</a>
            </h1>

            
            <h1>
                Register
            </h1>
            
            
            <% if(hasErrors) { %>
                
            <div class="alert alert-danger text-center">
            
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <% _.forEach(messages, function(error){ %>
                <%= error %><br>
                <% }) %>
            </div>
            
            <% } %>
            
            <div class="inset">
                <p>
                  <label for="username"><b>USERNAME</b></label>
                  <input type="text" name="username" class="" placeholder="">
                </p>

                <p>
                    <label for="email"><b>EMAIL ADDRESS</b></label>
                    <input type="text" name="email" placeholder="">
                </p>
                <p>
                    <label for="password"><b>PASSWORD</b></label>
                    <input type="password" name="password" placeholder="">
                </p>

            </div>

            <p class="p-container">
                <span><a href="" style="color: white;padding-left: 10px;padding-right:10px;"></a></span>
                <span><a href="/">Login</a></span>
                <input type="submit" class="login-log" style=" background: #3bb5ec; border: #3bb5ec;" value="Register">
            </p>
        </form>
    </div>
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
    
</html>